.box{
	width: 1000px;
	position: relative;
	margin: 0 auto;
	background-size: 100%;
	padding-top: 5px;
	background-image: url(../img/фон3.jpg);
}
.header{
	width: 948px;
	border-radius: 10px;
	clear: both;
	overflow: hidden;
	margin-left: 25px;
	margin-top: 5px;
	height: 100px;
	background: #DCDCDC;
}
.nav{
	float: left;
	width: 290px;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 22px;
	padding-left: 1px;
	padding-right: 20px;
	background: #DCDCDC;
	line-height: 37px;
}
ul li{
	list-style: none;
}
.footer1{
	border-radius: 5px;
	width: 950px;
	margin-left: 5px;
	padding: 20px;
	font-weight: bold;
	color: #051A43;
}
.a{
	text-decoration: none;
	color: #203c4b;
}
.article1{
	float: right;
	width: 580px;
	border-radius: 10px;
	margin-top: 10px;
	padding: 20px;
	margin-right: 22px;
	background: #DCDCDC;
}
.footer{
	width: 960px;
	padding: 20px;
	clear: both;
	background: black;
	font-weight: bold;
	color: #051A43;
}
.footer_paragraph2{
	text-decoration: none;
	color: white;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.headline{
	text-shadow: 2px 3px 0px black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	color: orange;
	text-transform: uppercase;
}
.menu_link{
	text-decoration: none;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: -20px;
	color: #203c4b;
	display: inline-block;
}
.paragraph{
	margin-top: 20px;
	font-size: 20px;
	text-align: justify;
}
.chipimg{
	margin-left: -10px;
}
.headline2{
	text-align: center;
}
.span{
	font-weight: bold;
}
.er3{
	padding: 5px; 
	border: 3px solid white;
	margin-left: 10px;
	text-decoration: none;
	color: white;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.er3{

}
.er3:hover{
	background: black;
	border-color: black;
}
.img{
	margin-left: 460px;
}
.img1{
	margin-left: 10px;
}
